@import 'mixins.scss';
@import 'variables.scss';

.contact {
    margin: 10vh auto 5vh $site-margin-left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq-desktop-medium {
        margin-left: $site-margin-left - $site-margin-decrement
    }

    @include mq-desktop-small {
        justify-content: flex-start;
        margin-left: $site-margin-mobile;
        margin-right: $site-margin-mobile;
    }

    &__tabs-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: $big-container-width;

        @include mq-desktop-small {
            margin-left: 0;
            justify-content: flex-start;
        }
    }

    &__tab {
        position: relative;
        @include contact-tab;
        margin-right: 30px;

        &::after {
            @include after-underline;
        }

        &--active,
        &:hover {
            font-weight: bold;

            &::after {
                width: 33px;
            }
        }
    }

    &__form {
        width: 100%;
        max-width: $big-container-width;
        margin: 8vh auto 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
    }

    &__input-container {
        position: relative;
        width: 40%;
        margin-bottom: 50px;
        margin-right: 20px;

        @include mq-desktop-small {
            margin-right: 0;
        }

        @include mq-mobile-large {
            width: 100%;
            margin-right: 0;
        }

        &--message {
            width: 100%;
        }
    }

    &__button-container {
        width: 100%;
        max-width: $big-container-width;
        text-align: center;
    }


    &__label {
        @include form-label;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: .5;
        display: inline-block;
        transition: transform .2s;
    }

    &__input {
        @include form-input;
        border-style: none;
        width: 100%;
    }

    &__input:focus+&__label,
    &__input:valid+&__label {
        transform: translateY(-300%);
        opacity: 1;
    }

    &__underline {
        height: 6px;
        background-image: radial-gradient($underline-color 1px, #fff 1px);
        background-size: 6px;
    }

    &__button {
        width: 200px;
        height: 60px;
        line-height: 60px;
        background-color: $btn-bgc;
        color: #fff;
        font-size: 1.7rem;
    }
}