@import 'mixins.scss';
@import 'variables.scss';

.title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 100%;
    max-width: $site-max-width;
    padding-bottom: $header-padding-bottom;
    background-color: $header-bgc;
    z-index: 99;

    @include mq-mobile-large {
        padding-bottom: 0;
        height: $header-mobile-height;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: $header-top-menu-margin;

        @include mq-mobile-large {
            margin-top: 0;
        }
    }

    &__main-menu {
        display: flex;
        justify-content: space-between;

        @include mq-mobile-large {
            display: none;
        }
    }

    &__main-menu-item {
        font-size: 1.7rem;

        &--language {
            margin: 0 4vw 0 3vw;
        }

        &--sign-in {
            margin-right: 30px;
        }

        &--get-app {
            display: block;
            box-sizing: border-box;
            width: 280px;
            height: 80px;
            padding: 50px 140px 15px 60px;
            background-color: $btn-bgc;
            transform: translateY(-50px);
            cursor: pointer;
        }
    }

    &__app-text {
        color: #fff;
        display: block;
        width: 200%;
    }

    &__logo {
        transform: translate(10%, -13px);

        @include mq-mobile-large {
            position: absolute;
            top: 50%;
            left: 0;
            width: 40px;
            height: 25px;
            overflow: hidden;
            transform: translate(20px, -50%)
        }
    }

    &__image {
        cursor: pointer;
    }

    &__submenu {
        display: flex;
        width: 255px;
        justify-content: space-between;

        &-item {
            font-size: 1.3rem;
        }
    }

    &__menu-hamburger {
        display: none;

        @include mq-mobile-large {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            height: 12px;
            width: 14px;
            cursor: pointer;
        }
    }

    &__hamburger-element {
        display: block;
        height: 2px;
        background-color: blue;
    }
}

.workplace-menu {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 0 $site-margin-left;
    width: 50vw;
    min-width: 700px;

    @include mq-desktop-medium {
        margin-left: $site-margin-left - $site-margin-decrement
    }

    @include mq-desktop-small {
        margin-left: $site-margin-mobile;
        margin-right: $site-margin-mobile;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 850px;

        @include mq-mobile-large {
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item {
        position: relative;
        font-size: 1.9rem;

        @include mq-mobile-large {
            font-size: 1.5rem;

            &:first-child::before,
            &:first-child::after {
                content: '';
                width: 12px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 100%;
                background-color: #2a2a2a;
                border-radius: 20px;
                transition: auto;
            }

            &:first-child::before {
                transform: translate(100%, -50%) rotate(45deg)
            }

            &:first-child::after {
                transform: translate(160%, -50%) rotate(135deg)
            }
        }

        &:nth-child(n+2) {
            @include mq-mobile-large {
                display: none;
            }
        }

        &::after {
            @include after-underline;
        }

        &:nth-child(n+2):hover {
            font-weight: bold;

            &::after {
                width: 33px;
            }
        }
    }
}