@import 'mixins.scss';
@import 'variables.scss';

.hero {
    background-color: $hero-sec-bgc;
    margin: $hero-section-top-marging 0 auto;
    width: 100%;
    max-width: $site-max-width;
    padding-bottom: 5vh;

    @include mq-mobile-large {
        margin-top: $header-mobile-height;
    }

    &__section-container {
        display: flex;
        justify-content: space-between;
        margin-left: $site-margin-left;

        @include mq-desktop-medium {
            margin-left: $site-margin-left - $site-margin-decrement;
        }

        @include mq-desktop-small {
            margin-left: $site-margin-mobile;
        }
    }

    &__text-container {
        padding-top: 15vh;
        max-width: 40%;

        @include mq-desktop-small {
            max-width: 100%;
            padding-top: 5vh;
            overflow: hidden;
        }
    }

    &__image-container {

        &--external,
        &-mobile--external {
            position: relative;
            height: 100%;
            width: 50%;
            height: 700px;
            background-image: url('/src/img/desks.png');
            background-repeat: no-repeat;
            background-position: 60% 60%;
            background-size: 100%;
            overflow: hidden;
        }

        &--internal,
        &-mobile--internal {
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translate(-50%, 5%);
            width: 100%;
            height: 120%;
            background-image: url('/src/img/hand.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
        }

        @include mq-desktop-small {
            display: none;
        }

        &-mobile {

            &--internal,
            &--external {
                display: none;

                @include mq-desktop-small {
                    display: block;
                    margin: 0 auto;
                    width: 90vw;
                    max-width: 700px;
                    min-width: 400px;
                }
            }

            &--external {
                @include mq-mobile-medium {
                    height: 500px;
                }
            }
        }
    }

    &__features-container {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        max-width: 1300px;
        min-width: 900px;
        margin: 6vh auto 0 $site-margin-left;

        @include mq-desktop-medium {
            margin-left: $site-margin-left - $site-margin-decrement;
        }

        @include mq-desktop-small {
            margin-left: $site-margin-mobile;
            margin-right: $site-margin-mobile;
            justify-content: center;
            min-width: auto;
        }

        @include mq-mobile-large-horizontal {
            margin-top: 15vh;
        }

        .feature {
            max-width: 350px;

            @include mq-desktop-medium {
                max-width: 250px;
            }

            @include mq-desktop-small {
                width: 100%;
                max-width: 100%;
            }

            &:nth-child(n+2) {

                @include mq-desktop-small {
                    display: none;
                }
            }

            &__title {
                @include feature-title;
                margin-bottom: 3vh;

                @include mq-desktop-medium {
                    font-size: 2.8rem;
                }

                @include mq-desktop-small {
                    font-size: 2.6rem;
                }
            }

            &__description {
                @include feature-description;
            }
        }
    }

    &__solutions-container {
        margin: 50px auto 0 $site-margin-left;

        @include mq-desktop-medium {
            margin-left: $site-margin-left - $site-margin-decrement
        }

        @include mq-desktop-small {
            margin-left: $site-margin-mobile;
            margin-right: $site-margin-mobile;
        }

        .solutions {

            &__title {
                @include solutions-title;
                margin: 10vh 0 3vh;
            }

            &__list {
                display: flex;
                justify-content: space-between;
                overflow: hidden;
            }

            &__item {
                flex-shrink: 0;
                box-sizing: border-box;
                width: 310px;
                height: 500px;
                padding: 60px;
                margin-right: 20px;
                background-color: #fff;
            }

            &__container {
                overflow: hidden;
            }

            &__subtitle {
                @include solutions-subtitle;
                margin: 8vh 0 3vh;
            }

            &__description {
                @include feature-description;
            }
        }
    }

    &__title {

        @include big_headline_text;
        width: 570px;
        height: 155px;

        @include mq-desktop-medium {
            font-size: 6rem;
        }

        @include mq-desktop-small {
            font-size: 5rem;
            line-height: 60px;
            width: 100%;
        }

        @include mq-mobile-large {
            font-size: 4rem;
            line-height: 50px;
            margin-bottom: -10vh;
        }

        @include mq-mobile-medium {
            margin-bottom: -15vh;
        }

        @include mq-mobile-small {
            font-size: 3.6rem;
        }

        @include mq-mobile-large-horizontal {
            margin-bottom: -25vh;
        }

        @include mq-mobile-small-horizontal {
            margin-bottom: -45vh;
        }

        &-description {
            @include description-text;
            max-width: 600px;
            margin: 5vh 0 6vh;

            @include mq-desktop-medium {
                font-size: 2.7rem;
            }

            @include mq-desktop-small {
                max-width: 100%;
                width: 100%;
                font-size: 2.5rem;
                line-height: 3.7rem;
                margin-right: $site-margin-mobile;
            }

            @include mq-mobile-large {
                font-size: 2.4rem;
            }

            @include mq-mobile-medium {
                font-size: 2.3rem;
                line-height: 3.2rem;
            }

            @include mq-mobile-small {
                font-size: 2.2rem;
            }
        }
    }

    &__mobile-store-container {
        display: flex;
        justify-content: space-between;
        width: 420px;

        @include mq-desktop-small {
            justify-content: center;
            width: 100%;
        }
    }

    &__mobile-store-image {

        @include mq-desktop-small {
            width: 80%;
            min-width: 150px;
        }
    }

    &__mobile-store-button {
        &--google-play {
            margin-right: 10px;
        }
    }
}