@import 'mixins.scss';
@import 'variables.scss';

.hero {
    background-color: $hero-sec-bgc;
    margin: $hero-section-top-marging 0 auto;
    width: 100%;
    max-width: $site-max-width;

    @include mq-mobile-large {
        margin-top: $header-mobile-height;
    }

    &__container {

        &--section {
            display: flex;
            justify-content: space-between;
            margin-left: 18vw;
        }

        &--text {
            padding-top: 173px;
            max-width: 40%;
        }

        &--image {
            position: relative;
            height: 100%;
            width: 50%;
            height: 700px;
            background-image: url('/src/img/desks.png');
            background-repeat: no-repeat;
            background-position: 60% 60%;
            background-size: 700px;
            overflow: hidden;
        }

        &--internal-image {
            width: 100%;
            height: 100%;
            background-image: url('/src/img/hand.png');
            background-repeat: no-repeat;
            background-position: center -20%;
        }

        &--solutions {
            margin: 50px auto 0 18vw;

            .solutions {

                &__title {
                    @include solutions-title;
                    margin: 10vh 0 3vh;
                }

                &__ul {
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                }

                &__item {
                    flex-shrink: 0;
                    box-sizing: border-box;
                    width: 310px;
                    height: 500px;
                    padding: 60px;
                    margin-right: 20px;
                    background-color: #fff;
                }

                &__container {
                    overflow: hidden;
                }

                &__subtitle {
                    @include solutions-subtitle;
                    margin: 8vh 0 3vh;
                }

                &__description {
                    @include feature-description;
                }
            }
        }

        &--features {
            display: flex;
            justify-content: space-between;
            width: 1300px;
            margin: 6vh auto 0 18vw;

            .feature {
                width: 350px;

                &__title {
                    @include feature-title;
                    margin-bottom: 3vh;
                }

                &__description {
                    @include feature-description;
                }
            }
        }
    }

    &__title {
        &--headline {
            @include big_headline_text;
            width: 570px;
            height: 155px;
        }

        &--description {
            @include description-text;
            max-width: 600px;
            margin: 45px 0 59px;
        }
    }

    .mobile-store {
        display: flex;
        justify-content: space-between;
        width: 420px;
    }
}