@mixin big_headline_text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3146ff;
    font-size: 70px;
    line-height: 80px;
}

@mixin description-text {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 40px;
}

@mixin feature-title {
    font-family: 'Poppins';
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 40px;
}

@mixin feature-description {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
}

@mixin solutions-title {
    font-family: "Roboto";
    color: #000;
    font-size: 17px;
}

@mixin solutions-subtitle {
    font-family: 'Poppins';
    font-weight: bold;
    color: #000;
    font-size: 19px;
    line-height: 26px;
}

@mixin form-label {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 13px;
}

@mixin form-input {
    font-family: 'Roboto';
    color: #000;
    font-size: 30px;
}

@mixin contact-tab {
    font-family: 'Roboto';
    color: #000;
    font-size: 17px;
}

@mixin after-underline {
    position: absolute;
    content: '';
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: $hover-underline-color;
    transition: width 0.3s;
}