@import 'reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'hero_section.scss';
@import 'contact.scss';

html {
  font-size: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: $main-font;
  background-color: $body-bgc;
  color: $body-font-color;
}